<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>106740770152-ckf73puppkis6sondje2oh2kej3l3fu1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.106740770152-ckf73puppkis6sondje2oh2kej3l3fu1</string>
	<key>API_KEY</key>
	<string>AIzaSyCJx0xVlJPIrijkmR8AV9b9vcVeIsrrV10</string>
	<key>GCM_SENDER_ID</key>
	<string>106740770152</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blogAppFirebase</string>
	<key>PROJECT_ID</key>
	<string>blog-app-flutter-c37c6</string>
	<key>STORAGE_BUCKET</key>
	<string>blog-app-flutter-c37c6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:106740770152:ios:92238703b78c63514c62dd</string>
	<key>DATABASE_URL</key>
	<string>https://blog-app-flutter-c37c6-default-rtdb.firebaseio.com</string>
</dict>
</plist>